:root {
  --background-image-1__section-3: 71px;
}

@media (max-width: 320px) {
  body {
    width: 320px;
  }

  .section-1 {
    height: 221px;
    background-position: bottom;
    background-size: 400px 200px;
  }

  header {
    height: 34px;
    padding: 2.5px 10px;
  }

  a.logo-1 {
    margin-right: 235px;
  }

  #watch__text {
    width: 128.13px;
    height: 102.44px;
    font-size: 28px;
    margin-top: 75px;
    margin-left: 181px;
  }

  .big-circle {
    width: 119.09px;
    height: 119.09px;
    margin-left: 162px;
    margin-top: 56px;
  }

  .button__watch-online {
    margin: 0 11px;
    margin-top: 241px;
  }

  .section-2 {
    height: 500px;
    background-size: 35%;
    background-position: 287px 35px;
    padding: 105px 10px 40px 10px;
  }

  .backstage__text {
    height: 388px;
  }

  .backstage__text h2 {
    height: 58px;
    width: 234px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  #backstage__text-1 {
    width: 289px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0;
  }

  #backstage__text-2 {
    width: 300px;
    height: 198px;
  }

  .backstage__text h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .section-3 {
    height: 1520px;
    margin-top: 35px;
    padding: 0 17px;
    padding-bottom: 60px;
    background: url(../../assests/images/phone-2.png) bottom left no-repeat,
      url(../../assests/images/phone-1.png) bottom right no-repeat;

    overflow: hidden;
  }
  .arrow__button {
    display: none;
  }

  .container__arrow_and_animal-cards {
    /* height: 1388px; */
    width: 285px;
    margin-bottom: 20px;
  }

  .container-animal-cards {
    grid-template-columns: 285px;
    grid-template-rows: repeat(4, 332px);
    row-gap: 20px;
    column-gap: 0;
  }
  .panda {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .eagles {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .gorillas {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .alligators {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .container__arrow_and_animal-cards {
    display: block;
    width: 285px;
    height: 1388px;
  }
  .button__choose-favorite {
    margin-left: -5px;
    /* margin-top: 20px; */
  }

  .section-4 {
    height: 1082px;
    padding: 20px 10px;
    overflow: hidden;
  }

  .container__pick-and-feed {
    height: 100%;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .container__pick-and-feed h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    padding-bottom: 10px;
  }

  .container__pick-and-feed h3 {
    height: 66px;
    width: 297px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    text-align: center;

    padding: 0;
  }

  .container__pick-and-feed h4 {
    display: none;
  }
  .margin-bottom60px {
    display: none;
  }

  .container__pick-and-feed h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;

    margin: 20px 0;
  }

  .container__how-it-works {
    display: block;
    height: 724px;
    margin-bottom: 30px;
  }

  .how-it-works__card {
    width: 168px;
    height: 222px;
    margin-bottom: 20px;
  }

  .how-it-works__card:last-child {
    margin-bottom: 0;
  }

  .image__background {
    margin-bottom: 10px;
  }

  .feed-friend-button {
    margin: 0;
  }

  .arrow-1 {
    transform: rotate(85deg);
    position: absolute;
    margin-left: 205px;
    margin-top: 190px;
  }

  .arrow-2 {
    transform: rotate(85deg);
    position: absolute;
    margin-left: 205px;
    margin-top: 435px;
  }

  .section-5 {
    height: 580px;
    padding: 30px 10px 60px 10px;
    background: url(../../assests/images/leav_foto-phone.png) no-repeat;
    /* background-size: 20%; */
    background-position: 270px 520px;
    /* transform: background(matrix(-0.97, -0.26, -0.26, 0.97, 0, 0)); */
    overflow: hidden;
  }

  .section-5 h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }

  p.feedback-text {
    height: 38px;
    width: 252px;
  }

  .background__gradient-pink {
    padding: 10px 29px 12px 12px;
  }

  .container__feedback-cards {
    height: 357px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .container__feedback-card {
    height: 109px;
    width: 299px;
  }

  .button__leave-feedback {
    margin: 0 30px;
  }

  /* FOOTER */

  footer {
    height: 334px;
    overflow: hidden;
  }

  .footer-logo-hidden {
    display: none;
  }
  .phone-footer_logo {
    width: 128px;
    height: 23px;
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: 75px;
  }

  .button__donate {
    position: absolute;
    margin-top: 118px;
    margin-left: -9px;
  }

  .position-1 {
    position: absolute;
    margin-top: 60px;
    left: 63px;
  }
  .position-2 {
    position: absolute;
    top: 72px;
    left: 119px;
  }
  .position-3 {
    position: absolute;
    top: 72px;
    left: 175px;
  }
  .position-4 {
    position: absolute;
    top: 72px;
    left: 231px;
  }

  .footer__link__rsschool {
    position: absolute;
    left: 75px;
    top: -2px;

    font-weight: 100;
    font-size: 15px;
    line-height: 120%;
  }

  a.footer-link {
    margin-right: 30px;
  }

  .margin-bottom-13px {
    display: block;
    margin-bottom: 13px;
  }

  .footer-nav {
    position: absolute;
    top: -10px;
  }

  a.footer-link:nth-child(1) {
    margin-right: 28px;
  }
  a.footer-link:nth-child(2) {
    margin-right: 25px;
  }
  a.footer-link:nth-child(3) {
    margin-right: 28px;
  }
}
