* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(../../assests/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(../../assests/fonts/Roboto/Roboto-Thin.ttf);
}

@media (max-width: 320px) {
  body {
    width: 320px;
    height: 1700px;
  }

  /* SECTION-1 */

  .section-1 {
    height: 221px;

    background-position: -200px 10px;
    background-size: cover;
  }

  header {
    height: 34px;
    padding: 2.5px 10px;
  }

  a.logo-1 {
    margin-right: 235px;
  }

  /* SECTION-1 | END */

  /* SECTION-2 */

  .section-2 {
    height: 1145px;
    padding: 30px 10px 20px 10px;
  }

  .text__donate-info {
    font-size: 24px;
    line-height: 120%;
  }

  /* CONTAINER PICK AND FEED */

  .container__pick-and-feed {
    height: 591px;
    padding: 20px 0;
  }

  .text__header-pick-and-feed {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .text__sub-header {
    font-size: 16px;
    margin-bottom: 10px;
  }

  /* CONTAINER PANDA */

  .container__panda-diet {
    height: 138px;
    display: flex;
  }

  .container__number {
    width: 52px;
    height: 90px;
    margin-left: 0;
    margin-top: 60px;
    margin-right: 20px;
  }

  .text__number-four {
    font-size: 40.6015px;
    line-height: 80%;
    text-align: center;
    margin-left: 20px;
  }

  .text__sub-title-number {
    width: 75px;
    height: 12.41px;
    font-size: 9.02255px;
  }

  .sign__star {
    margin-top: 83px;
  }

  .image__panda-widget {
    width: 160.15px;
    height: 138.72px;
    margin-left: 36px;
  }

  /* CONTAINER PANDA | END */

  /* PROGRESS-BAR */

  .container__progress-bar {
    margin-bottom: 10px;
  }

  .text__amount {
    margin-left: 0;
    margin-top: 10px;
  }

  .progress-steps {
    width: 100%;
    height: 20px;
  }

  .progress-steps:after {
    width: 262px;
    height: 1px;
    /* margin-left: 0; */
    overflow: hidden;

    margin-top: 9px;
    margin-left: 17px;
  }

  .progress-step {
    width: 0;
    height: 65px;
    margin-top: 7.5px;
    margin-left: 65px;
  }

  .progress-step:first-child {
    margin-left: -205px;
  }

  .progress-count {
    font-size: 13px;
    margin-left: 15px;
  }

  .progress-circle {
    width: 5px;
    height: 5px;
  }

  .progress-circle:hover {
    width: 6px;
    height: 6px;
  }

  .circleActive:after {
    content: "";
    position: absolute;

    top: -5.5px;
    left: 20.5px;
    width: 11px;
    height: 11px;

    border: 2px solid #fe9013;
    border-radius: 50%;
  }

  .circleActive:before {
    content: "";
    position: absolute;

    top: -12px;
    left: 13.5px;
    width: 20px;
    height: 20px;

    padding: 3px;

    border: 2px solid #fe9013;
    border-radius: 50%;
  }

  /* PROGRESS-BAR | END */

  /* INPUT NUMBER */

  .input-amount {
    width: 180px;
    height: 42px;
    margin-left: 60px;
    margin-bottom: 25px;
  }

  /* INPUT NUMBER | END */

  /* RADIO */

  .container__radio {
    margin: 0 41px;
    margin-bottom: 28px;
  }

  /* RADIO | END */

  .button__feed-friend {
    margin-left: 1px;
  }

  .text__share {
    width: 301px;
    text-align: left;
  }

  /* CONTAINER PICK AND FEED | END */

  /* SECTION-2 | END */

  /* FOOTER */
  footer {
    height: 334px;
    overflow: hidden;
  }

  .footer-logo-hidden {
    display: none;
  }
  .phone-footer_logo {
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-left: 90px;
  }

  .button__donate {
    position: absolute;
    margin-top: 129px;
    margin-left: -9px;
  }

  .position-1 {
    position: absolute;
    margin-top: 73px;
    left: 63px;
  }
  .position-2 {
    position: absolute;
    top: 85px;
    left: 119px;
  }
  .position-3 {
    position: absolute;
    top: 85px;
    left: 175px;
  }
  .position-4 {
    position: absolute;
    top: 85px;
    left: 231px;
  }

  .footer__link__rsschool {
    position: absolute;
    left: 75px;
    top: 10px;

    font-weight: 100;
    font-size: 15px;
    line-height: 120%;
  }

  a.footer-link {
    margin-right: 30px;
  }
  /* FOOTER | END */
}
