* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(../../assests/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(../../assests/fonts/Roboto/Roboto-Thin.ttf);
}

@media (max-width: 1000px) {
  body {
    width: 1000px;
    height: 2246px;
  }

  /* SECTION-1  */
  .section-1 {
    height: 470px;
  }

  header {
    padding: 14px 30px;
  }

  a.nav-link {
    margin-right: 44px;
  }

  a.last {
    width: 105px;
    margin-left: 200px;
  }

  /* SECTION-1 | END */

  /* SECTION-2 */

  .section-2 {
    height: 1333px;
    padding: 40px 30px 30px 30px;
    overflow: hidden;
  }

  .text__zoo-info {
    height: 94px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 140%;
  }

  .text__donate-info {
    height: 47px;
    /* font-family: Roboto-400; */
    /* font-weight: 400; */
  }

  .text__header-pick-and-feed {
    text-align: left;
    margin-left: 231px;
    height: 58px;
  }

  .text__header-section-2 {
    margin-bottom: 30px;
  }

  .text__donate-info {
    margin-bottom: 40px;
  }

  /* CONTAINER PICK AND FEED */

  .container__pick-and-feed {
    height: 918px;
    padding: 20px 0 46px 0;
  }

  .text__header-pick-and-feed {
    margin-bottom: 10px;
  }

  .text__sub-header {
    margin-left: 47px;
  }

  /* CONTAINER PANDA */
  .container__number {
    margin-left: 196px;
  }
  /* CONTAINER PANDA | END */

  /* CONTAINER PROGRESS-BAR */

  .container__progress-bar {
    margin-left: 65px;
    height: 110px;

    overflow: hidden;

    margin-bottom: 50px;
  }

  .progress-steps {
    width: 810px;
    height: 27px;
  }

  .progress-steps:after {
    position: absolute;
    width: 755px;
    bottom: 12px;
    overflow: hidden;
  }

  .progress-step:first-child {
    margin-left: -129px;
  }

  .progress-step {
    margin-top: 10px;
  }

  /* CONTAINER PROGRESS-BAR | END */

  .text__amount {
    padding-bottom: 10px;
  }

  .input-amount {
    margin: 0 336px;
    margin-bottom: 28px;
  }

  .container__radio {
    width: 100%;
    margin-left: 350px;
    margin-bottom: 30px;
  }

  .radio {
    margin-right: 34px;
  }

  .button__feed-friend {
    margin-left: 323px;
  }

  .text__share {
    margin-left: 321px;
  }

  /* CONTAINER PICK AND FEED | END */

  /* SECTION-2 | END */

  /* FOOTER */

  footer {
    padding: 40px 30px 50px 30px;
  }

  .second-column {
    height: 353px;
    position: absolute;
    margin-left: 291px;
  }

  .third-column {
    width: 398px;
    height: 353px;
    position: absolute;
    margin-left: 541px;
  }

  .input__email {
  }

  .user__email__label {
    margin-bottom: 14px;
  }

  .footer-nav {
    position: absolute;
    left: 15px;
  }

  a.footer-link {
    margin-right: 45px;
  }

  .footer__link__rsschool {
    margin-left: 170px;
  }

  .margin-bottom-13px {
    display: block;
    margin-bottom: 0;
  }

  .footer__link__rsschool {
    margin-top: 208px;
  }

  /* FOOTER END */
}
